<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neosixth.arknightsrecruiterwidgetreference">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/arklauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/arklauncher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7694682114536441~9083099864" />

        <activity android:name="com.neosixth.arknightsrecruiterwidgetreference.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.neosixth.arknightsrecruiterwidgetreference.ScreenCapture"
            android:foregroundServiceType="mediaProjection"
            android:theme="@style/MyTransparentTheme"
            ></activity>
        <service
            android:name="com.neosixth.arknightsrecruiterwidgetreference.FloatingViewService"
            android:foregroundServiceType="mediaProjection"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="orc"></meta-data>
    </application>
</manifest>
